<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/angular/angular.js"></script>
  <script src="js/angular/angular-route.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/jquery.js"></script>
  <style>
    .red-border {
      border-style: dotted solid ;
      border-color: red;
    }
  </style>
</head>
<body ng-controller="PhoneListCtrl">

  <div class="container">
    <img ng-src="{{phone.images[0]}}" class="phone">

    <h1>{{phone.name}}</h1>

    <p>{{phone.description}}</p>

    <ul class="phone-thumbs">
      <li ng-repeat="img in phone.images">
        <img ng-src="{{img}}">
      </li>
    </ul>

    <ul class="specs">
      <li>
        <span>Availability and Networks</span>
        <dl>
          <dt>Availability</dt>
          <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
        </dl>
      </li>
        ...
      <li>
        <span>Additional Features</span>
        <dd>{{phone.additionalFeatures}}</dd>
      </li>
    </ul>
  </div>
  <script src="js/app.js"></script>
</body>
</html>
